CONFIG_ETS="ETS"
CONFIG_ESP32_ID="ESPSniffie"
CONFIG_ROOM="1"
CONFIG_WIFI_SSID="espsniffie"
CONFIG_WIFI_PSW="wifisniffer"
CONFIG_BROKER_ADDR="mqtt://broker.hivemq.com"
CONFIG_BROKER_PORT=1883
CONFIG_CHANNEL=11
CONFIG_SNIFFING_TIME=10
CONFIG_FILENAME1="/spiffs/probreq.log"
CONFIG_FILENAME2="/spiffs/probreq2.log"
CONFIG_VERBOSE=0
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
